@page "/SeparateCodebehindFile"
@using HowProgrammingWorksOnDotNet.WebPages.ExampleProject.Pages.Code
@model SeparateCodebehindFileModel

<h1>@Model.Title</h1>
<p>
  @Model.Message
</p>
<p>
  Go <a href="/">back</a>
</p>

